@use '../base/variables' as v;
@use '../base/mixins' as m;

$tiempo: 200ms;
$grosor: .5rem;

$btn-gris: #dddddd;
$btn-gris-borde: #b6b6b6;

$btn-rojo: rgb(211, 0, 0);
$btn-rojo-borde: rgb(181, 0, 0);

$btn-azul: rgb(90, 175, 239);
$btn-azul-borde: rgb(73, 145, 199);

.boton {
    cursor: pointer;
    font-weight: 500;
    font-family: v.$fuente;
    border-radius: 1rem;
    letter-spacing: .15rem;
    transition: transform $tiempo ease, 
    box-shadow $tiempo ease;

    &.numero {
        color: v.$negro;
        background-color: $btn-gris;
        box-shadow: $btn-gris-borde 0 $grosor 0 0;
        
        &:active {
            transform: translateY($grosor);
            box-shadow: $btn-gris-borde 0 0 0 0;
        }
            
        min-width: 3.5rem;
        min-height: 3.5rem;
        font-size: 1.4rem;


        @include m.sm {
            font-size: 1.6rem;
            min-width: 4.5rem;
            min-height: 4.5rem;
        }
    }

    &.iniciar {
        padding: 1rem 1.5rem;
        margin-bottom: $grosor;
        color: v.$blanco;
        background-color: $btn-rojo;
        box-shadow: $btn-rojo-borde 0 $grosor 0 0;

        &:active {
            transform: translateY($grosor);
            box-shadow: $btn-rojo-borde 0 0 0 0;
        }
    }

    &.reiniciar {
        @include m.flex;
        aspect-ratio: 1/1;
        height: calc(4.92rem - $grosor);
        margin-bottom: $grosor;
        color: v.$blanco;
        background-color: $btn-azul;
        box-shadow: $btn-azul-borde 0 $grosor 0 0;

        &:active {
            transform: translateY($grosor);
            box-shadow: $btn-azul-borde 0 0 0 0;
        }

        svg {
            width: 2.5rem;
        }
    }
}