@use '../base/variables' as v;
@use '../base/mixins' as m;

.estadisticas {
    width: 100%;
    @include m.flex {justify-content: space-around; gap: 3rem;}

    .tiempo, .errores, .cartas {
        width: max-content;
        @include m.flex { gap: .4rem;}

        svg {
            width: 1.92rem;
            height: 1.92rem;
        }
    }
}