@use '../base/variables' as v;
@use '../base/mixins' as m;

.titulo {
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: v.$blanco;
    box-shadow: rgba(60, 64, 67, .1) 0 .1rem .2rem 0, rgba(60, 64, 67, .1) 0 .1rem .3rem .1rem;
    padding: 1rem 2.5rem 1rem 1.75rem;
    margin: .5rem 0 1rem;
    border-radius: 1rem;
    @include m.flex {justify-content: space-between; }

    .estadisticas {
        @include m.flex;

        .tiempo, .errores {
            @include m.flex { gap: .5rem;}
    
            svg {
                width: 1.92rem;
                height: 1.92rem;
            }
        }
    }

}

.botones {
    @include m.flex;
}

.boton-empezar,
.boton-reiniciar {
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    letter-spacing: .15rem;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    color: v.$blanco;

    &:active {
        transform: translateY(.5rem);
        transition: 200ms;    
    }
}

.boton-empezar {
    background-color: v.$rojo;
    box-shadow: v.$rojoOscuro 0 .5rem 0 0;

    &:active {
        background-color: v.$rojo;
        box-shadow: v.$rojoOscuro 0 0 0 0;
    }   
}

.boton-reiniciar {
    background-color: v.$azul;
    box-shadow: v.$azulOscuro 0 .5rem 0 0;
    
    &:active {
        background-color: v.$azul;
        box-shadow: v.$azulOscuro 0 0 0 0;
    }
}