@use '../base/mixins' as m;

.contenedor-juego {
    width: min(90%, 80rem);
    margin: 0 auto;
}

.juego {
    @include m.flex { 
        gap: .75rem;
        justify-content: space-evenly; 
        flex-wrap: wrap;
    }
}