@use '../base/variables' as v;
@use '../base/mixins' as m;


.contenedor-menu {
    @include m.flex { flex-direction: column; gap: 1rem;}
    margin-bottom: 5rem;
}

.fondo-blanco {
    width: 100%;
    background-color: v.$blanco;
    box-shadow: rgba(60, 64, 67, .1) 0 .1rem .2rem 0, 
                rgba(60, 64, 67, .1) 0 .1rem .3rem .1rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.flex {
    @include m.flex;
}

.oculto {
    display: none;
}