@use '../base/variables' as v;
@use '../base/mixins' as m;

.select {
    position: relative;

    .boton {
        cursor: pointer;
        font-family: v.$fuente;
        font-size: 1.6rem;
        background-color: transparent;
        padding: .4rem .4rem .4rem .8rem;
        border-radius: .5rem;
        @include m.flex { gap: .25rem; };

        &::before {
            content: 'Nivel:';
            margin-right: .25rem;
        }
    }

    @include m.hover {
        &:hover {
            .boton {
                transition: background-color 200ms ease;
                background-color: v.$gris;
            }
        }
    }

    &.active {
        .boton {
            transition: background-color 200ms ease;
            color: v.$blanco;
            background-color: v.$negro;
        }
    }
}