@use 'mixins' as m;

body {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.altura {
    // height: calc(100dvh - .5rem);
    height: 100dvh;
}

.icono {
    display: grid;
    place-items: center;
}

.icono-render {
    shape-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
    image-rendering:optimizeQuality;
    fill-rule:evenodd;
    clip-rule:evenodd
}

.titulo {
    font-weight: bold;
    text-align: center;
}