@mixin sm {
    @media (min-width: 368px) {
        @content
    }
};


@mixin md {
    @media (min-width: 640px) {
        @content
    }
};

@mixin lg {
    @media (min-width: 768px) {
        @content
    }
};

@mixin flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @content
};

@mixin grid {
    display: grid;
    place-items: center;
    gap: 1rem;
    @content
};

@mixin hover {
    @media (hover: hover) {
        @content  
    }
}