$fuente: 'Rubik Variable', sans-serif;

$negro: #121212;
$blanco: #f6f6f6;

$amarillo: #f9c131;

$rojo: rgb(255, 56, 86);
$rojoOscuro:rgb(201, 46, 70);
$azul: rgb(80, 139, 255);
$azulOscuro: rgb(63, 108, 231);