:root {
    /* --colorPrincipal: #f9c131; */
    --fondo: #f9c131;
    --negro: #121212;
    --blanco: #f6f6f6;
    --fuente: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px */
    scroll-behavior: smooth;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    color: var(--negro);
    font-size: 1.6rem;
    font-family: var(--fuente);
    background-color: var(--fondo);
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

/* Cambiar color al selecionar texto */
/* ::selection {
    background: var(--principal);
    color: var(--blanco);
} */

.contenedor-icono {
    display: grid;
    place-items: center;
    width: 100%;
}

.icono {
    shape-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
    image-rendering:optimizeQuality;
    fill-rule:evenodd;
    clip-rule:evenodd
}

/* == DOCUMENTO == */
body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.contenedor {
    width: min(90%, 80rem);
    margin: 0 auto;
}

.carta {
    width: 7.5rem;
    height: 7.5rem;
    perspective: 100rem;
    cursor: pointer;

    position: relative;
    transition: transform .5s;
    transform-style: preserve-3d;
}

/* Voltear la carta */
.carta:hover {
    transform: rotateY(180deg);
}

.carta-contenido {
    height: 100%;
    width: 100%;
    background-color: var(--blanco);
    box-shadow: rgba(60, 64, 67, .15) 0 .1rem .2rem 0, rgba(60, 64, 67, .15) 0 .1rem .3rem .1rem;
    border-radius: 1rem;

    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;

    display: grid;
    place-items: center;
}

.carta-imagen {
    transform: rotateY(180deg);
    padding: 1rem;
}

.carta-pregunta {
    padding: .5rem;
}